---
layout: default
---

<section class="sidebar">
  <h1>{{site.title}}</h1>
  <div class="key">
    <p>There are 3 types of CSS length:</p>
    <label class="label-font-relative">
      <input ng-model="fontrelative" type="checkbox">
      <strong>font relative</strong>
      &mdash; changes on font-size and unit size.
    </label>
    <label class="label-viewport-percentage">
      <input ng-model="viewportpercentage" type="checkbox">
      <strong>viewport percentage</strong>
      &mdash; changes on viewport size and unit size.
    </label>
    <label class="label-absolute">
      <input ng-model="absolute" type="checkbox">
      <strong>absolute</strong>
      &mdash; changes only on unit size.
    </label>
  </div>
  <form>
    <p>Change these values or resize the browser to see how the lengths change. Click on each length to learn more about it.</p>
    <div class="form-control">
      <label for="units"></label>
      <input id="units" min="1" ng-model="unit" type="number">
      units
    </div>
    <div class="form-control">
      <label for="bodySize">body { font-size:</label>
        <input id="bodySize" min="0" ng-model="bodySize" type="number">
        px; }
      </div>
      <div class="form-control">
        <label for="htmlSize">html { font-size:</label>
          <input id="htmlSize" min="0" ng-model="htmlSize" type="number">
          px; }
        </div>
      </form>
      <p>Content from <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/length">MDN</a>. <a href="https://github.com/katydecorah/css-ruler">Made with</a> :heart: by <a href="http://katydecorah.com/">Katy DeCorah</a>.</p>
    </section>
    <section class="examples">
      <div class="read-more">[[more]]</div>
      {% for item in site.data.lengths %}
      <input id="example-{{ item.length }}" name="unit" ng-model="more" type="radio" value="{{ item.length }} - {{ item.description }}">
      <label for="example-{{ item.length }}" ng-show="{{ item.type | replace: "-","" }}">
        <div class="example example-{{ item.length }} type-{{ item.type }}" href="#example-{{ item.length }}" style="width: [[ unit ]]{{ item.length }}; height: [[ unit ]]{{ item.length }}" title="[[unit]]{{ item.length }}"></div>
      </label>
      {% endfor %}
    </section>
