
$header-bg: #2c3e50;
$body-bg: #ecf0f1;
$font:  #16a085;
$viewport: #3498db;
$absolute:  #8e44ad;

$font-size: 14px;

$break: 650px;

* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;

  // background from http://lea.verou.me/css3patterns/#blueprint-grid
  background-color: $body-bg;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-attachment: scroll;

}


h1 {
  font-size: 40px;
  margin: 0 0 20px;
}
p {
  margin-bottom: 1.3em;
}

strong, .unit {
  font-weight: 700;
}

.sidebar {
  background: $body-bg;
  padding: 10px;
  font-size: $font-size;

}
@media(min-width: $break) {
  .sidebar {
    max-width: 30vw;
    float: left;
    height: 100vh;
    margin-right: 10px;
    position: fixed;
    overflow:scroll;
  }
}


form {
  position: relative;
  border-bottom: 1px solid rgba(black,0.1);
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  input {
    font-size: 1em;
    padding: 0.25em 0.5em;
    font-family: inherit;
    max-width: 3.5em;
    border: none;
    background: lighten($header-bg,5%);
    color: white;
    border-radius: 5px;
  }
}
.form-control {
  margin-bottom: 10px;
}

.key {
  border-bottom: 1px solid rgba(black,0.1);
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  label {
    display: block;
    clear: both;
  }
  input {
    position: relative;
    text-indent: -25px;
    float: left;
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 10px;
  }
  .label-font-relative strong {
    background: $font;
  }
  .label-viewport-percentage strong {
    background: $viewport;
  }
  .label-absolute strong {
    background: $absolute;
  }
  strong {
    color: white;
    display: inline-block;
    padding: 0 0.25em;
    border-radius: 0.2em;
  }

}


.examples {
  padding: 20px;

}

@media(min-width: $break) {
  .examples {
    margin-left: 30vw;
  }
}

.example {
  display: inline-block;
  position: relative;
  margin-bottom: 70px;
  color: inherit;
  cursor: help;

  &:after {
    content: attr(title);
    position: absolute;
    font-size: 14px;
    transform: rotate(90deg) translate(50%, 50%);
    top: 100%;
    display: block;
    left: 50%;
  }
}


.type-font-relative, {
  background: $font;
  &:hover {
    background: darken($font, 10%);
  }
}
.type-viewport-percentage {
  background: $viewport;
  &:hover {
    background: darken($viewport, 10%);
  }
}

.type-absolute {
  background: $absolute;
  &:hover {
    background: darken($absolute, 10%);
  }
}


input[type="radio"] { display: none; }

.read-more {

  z-index: 10;
  font-size: $font-size;
  background: rgba(white,0.75);
  padding: 1em;
  margin-bottom: 1em;
  max-width: 30em;
  &:empty {
    background: none;
  }
}

@media(min-width: $break) {
  .read-more {
    position: absolute;
    bottom: 5px; right: 15px;
  }
}
