//
// Popovers
// --------------------------------------------------



.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  background-color: $popover-bg;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  white-space: normal;
}

.popover.bottom {
  margin-top: 10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: $font-size;
  background-color: $popover-title-bg;
  border-bottom: 1px solid #ebebeb;
  border-radius: $border-radius $border-radius 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
